@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('./views/home-view.css');

html {
  --lumo-base-color: black;
  --lumo-header-text-color: whitesmoke;
  --lumo-body-text-color: whitesmoke;
  --lumo-primary-text-color: whitesmoke;
  --lumo-secondary-text-color: whitesmoke;
  --lumo-tertiary-text-color: whitesmoke;
  --lumo-font-family: "JetBrains Mono";
}
